body
	// overflow-x hidden
	// background url("/assets/login-bg1.jpg") no-repeat center center
	// background-size cover
	background-color #ededed
.clear
	clear both
	margin 0
	padding 0
	overflow hidden
	visibility none
.reste
	margin 0
	padding 0
	list-style none
.hidden
	display none

.hide-tablet-down
	@media $tablet-down
		display none

.hide-tablet-up
	@media $tablet-up
		display none

@media $tablet-down
	.container.no-container-tablet-down
		max-width 100%

.SumoSelect, .SumoSelect>.CaptionCont>span
	cursor pointer
//iOS fix for background scrolling on mobile when the menu is open
#nav-three .menu-open
	position fixed

.t-align-right
		text-align right
.t-align-center
		text-align center

.card-highlight
	position relative
	overflow hidden
	z-index 1
	background $color-white
	padding 20px
	display block
	&:after
		content ''
		position absolute
		top 0
		left -25px
		width 500%
		height 1000%
		background $color-teal
		z-index -1
		transform-origin 0% 0%
		transform translateX(20%) translateY(10%) rotate(-45deg)
		transition transform 1s cubic-bezier(0.19, 1, 0.22, 1)
	&:hover
		text-decoration none
		h5
			color $color-white
		span
			color $color-white
		&:after
			transform translateX(-130px) translateY(20%) rotate(-45deg)
.content-box
	vendor-prefix(border-radius, 0)
	background-color #fff0
	color $color-black
	text-align center
	position relative
	margin-top 20px
	border 0
	border-width 0 1px 4px
	overflow-x hidden
	overflow-y auto
	max-height calc(100vh - 110px)
	min-height calc(100vh - 110px)
	.inner-content
		padding 20px
		text-align left
.form-control
	width 100% 
	height 34px 
	padding 6px 12px
	background-color #fff 
	border 1px solid #ccc
	border-radius 4px 
	font-size $small-font-size
	-webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	-o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	&:focus
		border-color #66afe9
		outline 0
		-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) 
		box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
	&::-moz-placeholder
		color #999
		opacity 1
	&:-ms-input-placeholder
		color #999
	&::-webkit-input-placeholder
		color #999
.btn-primary
	background-color $color-cyan
	border none
	padding 10px 15px
	font-size $small-font-size
	color $color-white
	&:hover
		background-color $color-dark-blue
.table-responsive
  border 1px solid $color-gray-medium
  border-top none
  .table
    margin 0
    .thead
      th
        padding 8px 10px
        vertical-align middle
        font-size $small-font-size
        background-color $color-gray-medium
        font-weight $weight-semibold
        color $color-black
        text-align left
        &.action-th
          width 15%
    .tbody
      td
        padding 8px 10px
        vertical-align middle
        font-size $small-font-size
        text-align left
        .btn-danger
          padding 0px 8px
          background-color $color-red
        .btn-info
          padding 0px 8px
          background-color $color-cyan
		  margin-right 15px
.back-button
	padding 5px 15px
	margin-top 5px
	float left
	position absolute
	left 20px
	z-index 111
.mar-bt-10
	margin-top 10rem