<div class="main content-box">
  <div class="container-fluid">    
        <div class="row">
          <div class="col-12">
            <button type="button" (click)="goBack()" class="back-button btn-save btn btn-primary" mat-save color="save" name="submit_signin">Back</button>
              <h6>DRF - By Task</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-0">
            <div class="table-responsive">
              <table class="table">
                  <thead class="thead">
                    <tr>                   
                      <th scope="col">Project </th>
                      <th scope="col">Task</th>
                      <th scope="col" class="text-right score-1">Score</th>
                    </tr>
                  </thead>
                  <tbody class="tbody">
                    <tr *ngFor="let tasks of ticketlist" >
                      <td ><span>{{tasks.project_name}} ({{tasks.shortform}})</span></td>
                      <td class="project-name"><a [routerLink]="['../../projectfeedback']" [queryParams]="{project:tasks.proj_id,task:tasks.ticket_id}"><span>{{tasks.slug}}{{tasks.name}}</span></a></td>
                      <td class="small"><span class="status-color" [ngClass]="{grey:tasks.task_score*2==0,red:tasks.task_score*2<=3.5,orange:tasks.task_score*2>=3.6 && tasks.task_score*2<=6.9,green:tasks.task_score*2>=7}">{{tasks.task_score*2 | number: '1.1-1'}}</span><a (click)="openDetails(tasks.task_score,tasks.ticket_id)" [ngClass]="{hidden:tasks.task_score<=0}"><span class="view-detail" title="view in detail"><img width="22px" src="/assets/view.png" alt="Avatar" class="image"></span></a></td>
                    </tr>
                                     
                  </tbody>
                </table>
              </div>
          </div>
        </div>   
           
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="myModal" [ngStyle]="{'display':display}" role="dialog">
  <div class="modal-dialog mar-bt-10">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Task:</strong> {{taskname}}&nbsp;&nbsp; <strong>Score:</strong> {{scores*2 | number: '1.1-1'}}<span class="status-color-header" [ngClass]="{red:scores*2<=3.5,orange:scores*2>=3.6 && scores*2<=6.9,green:scores*2>=7}"><span class="status-color-header-inside"></span></span> </h4>
        <button type="button" class="close" (click)="closeDetails()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <div class="main">
              <div class="container-fluid">   
                    <div class="row">
                      <div class="col-12 p-0">
                        <div class="table-responsive p-0">
                          <table class="table">
                              <thead class="thead">
                                <tr> 
                                  <th scope="col">DRF Date</th>
                                  <th scope="col" class="text-right score-1">Score</th>
                                </tr>
                              </thead>
                              <tbody class="tbody">
                                <tr *ngFor="let taskdrf of taskdrfdata">
                                  <td class=""><span>{{taskdrf.feedback_date | date: 'MM/dd/yyyy'}}</span></td>
                                  <td class="small"><span class="status-color" [ngClass]="{grey:taskdrf.score*2==0,red:taskdrf.score*2<=3.5,orange:taskdrf.score*2>=3.6 && taskdrf.score*2<=6.9,green:taskdrf.score*2>=7}">{{taskdrf.score*2 | number: '1.1-1'}}</span><a (click)="showInDetails(taskdrf.feedback_id)" [ngClass]="{hidden:taskdrf.task_score<=0}"><span class="view-detail" title="view in detail"><img width="22px" src="/assets/view.png" alt="Avatar" class="image"></span></a></td>
                                </tr>                              
                              </tbody>
                            </table>
                          </div>
                      </div>
                    </div>   
                       
              </div>
            </div>

      </div>

    </div>

  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':displayDetails}"></div>
<div class="modal" id="myModal" [ngStyle]="{'display':displayDetails}" role="dialog">
  <div class="modal-dialog custom-width">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Task:</strong> {{feed_task}}  &nbsp; <strong>Date:</strong> {{feed_date | date: 'MM/dd/yyyy'}} &nbsp; <strong>Feedback By:</strong> {{feed_by}} &nbsp; <strong>Score:</strong> {{feed_score*2 | number: '1.1-1'}}<span class="status-color-header" [ngClass]="{grey:feed_score*2==0,red:feed_score*2<=3.5,orange:feed_score*2>=3.6 && feed_score*2<=6.9,green:feed_score*2>=7}"><span class="status-color-header-inside"></span></span></h4>
        <button type="button" class="close" (click)="goBackDetails()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <div class="main">
              <div class="container-fluid">   
                    <div class="row">
                      <div class="col-12 p-0">                          
                        <div class="table-responsive p-0">
                          <table class="table table-striped">
                            <thead class="thead">
                              <tr> 
                                <th scope="col" colspan="3"></th>
                                <th scope="col " class="smallModal">NA</th>
                                <th scope="col " class="smallModal">Poor</th>
                                <th scope="col " class="smallModal">Below Average</th>
                                <th scope="col " class="smallModal">Average </th>
                                <th scope="col " class="smallModal">Good</th>
                                <th scope="col " class="smallModal">Excellent</th>
                                <th scope="col " class="smallModal">Comments</th>
                              </tr>
                            </thead>
                            <tbody class="tbody">
                              
                              <tr *ngFor="let feed_detail of feedback_details;let i = index">
                                <td colspan="3"><p>{{feed_detail.question}}</p></td>
                                <td class="smallModal"><label class="container mb-12">
                                  <input type="radio"  checked="checked" value="0" [ngClass]="{hidden: feed_detail.rating!=0}" >
                                  <span class="checkmark" [ngClass]="{hidden: feed_detail.rating!=0}"></span>
                                </label></td>
                                <td class="smallModal"><label class="container mb-12">
                                    <input type="radio"  checked="checked" value="1" [ngClass]="{hidden: feed_detail.rating!=1}" >
                                    <span class="checkmark" [ngClass]="{hidden: feed_detail.rating!=1}"></span>
                                  </label></td>
                                <td class="smallModal"><label class="container">
                                    <input type="radio" checked="checked"  value="2" [ngClass]="{hidden: feed_detail.rating!=2}">
                                    <span class="checkmark" [ngClass]="{hidden: feed_detail.rating!=2}"></span>
                                  </label></td>
                                <td class="smallModal"><label class="container">
                                    <input type="radio" checked="checked"  value="3" [ngClass]="{hidden: feed_detail.rating!=3}">
                                    <span class="checkmark" [ngClass]="{hidden: feed_detail.rating!=3}"></span>
                                  </label></td>
                                <td class="smallModal"><label class="container">
                                    <input type="radio" checked="checked" value="4" [ngClass]="{hidden: feed_detail.rating!=4}">
                                    <span class="checkmark" [ngClass]="{hidden: feed_detail.rating!=4}"></span>
                                  </label></td>
                                <td class="smallModal"><label class="container">
                                    <input type="radio" checked="checked"  value="5" [ngClass]="{hidden: feed_detail.rating!=5}">
                                    <span class="checkmark" [ngClass]="{hidden: feed_detail.rating!=5}"></span>
                                  </label></td>
                                  <td class="smallModal">
                                      <span title="{{feed_detail.comment}}" *ngIf="feed_detail.comment"><i class="fa fa-comment" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr *ngIf="feed_additional_comment">
                                <td colspan="1"><p>Additional feedback</p></td>
                                
                                <td colspan="9" class="small">
                                  {{feed_additional_comment}}                      
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                      </div>
                    </div>   
                       
              </div>
            </div>

      </div>

    </div>

  </div>
</div>