.feedback-header
    background-color $color-table-background
    width 100%
    margin 20px
    padding 20px    
.feedback-content
    background-color $color-table-background
    width 100%
    margin 20px
    padding 20px
.container
    display block
    position relative
    padding-left 35px
    margin-bottom 12px
    cursor pointer
    font-size 22px
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
.DRF-date
    top 20px
    position absolute
.mat-select-panel
    margin-top 17px
.header-feedback
    padding 10px 20%
    .date
        float left
        margin-top 20px
h6
    font-size $base-font-size
    font-weight bold
    padding 20px
    color $color-white

.status-color
    &::after
        content ''
        width 40px
        height 20px
        margin-left 15%        
        position absolute
    &.green
        &::after
            background-color $color-green
    &.red
        &::after
            background-color $color-red
    &.orange
        &::after
            background-color $color-orange
.mat-calendar-period-button
    display none !important
.table-responsive
    padding 0 0%
    text-align left
    margin-bottom 20px
    border none
    table
        border 1px solid #ccc
        margin-top 20px
        span
            margin-bottom 0
            font-size 16px
        .info
            margin-left 10px
        .additional-comment1
            width 100%
            padding 5px 20px
        .additional-comment2
            padding 5px 20px
        .small
            width 75px
            text-align center
        .checkmark
           left 50%
           transform translateX(-50%)
        
custom-radio()
.ml-15
    margin-left 15px
.feedback-submit
    padding 5px 15px
    margin 0px
    float right
    margin-right 0%
    margin-bottom 70px
    line-height 21px
.tooltip-red
    background #b71c1c
    font-size 12px