<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MusicU</title>
</head>
<body style="margin: 0; padding: 0;">

	<table align="center" border="0" cellpadding="0" cellspacing="0" width="850" bgcolor="#f6f6f6">
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
				<tr>
					<td style="text-align: center; padding: 30px 0px 30px 0px;"><a href="#"><img src="img/logo.png" alt="MusicU Logo"></a></td> 
				</tr>
				<tr>  
					<td style="padding: 50px 65px 50px 65px; border-radius: 15px;" bgcolor="#fff">
						<table border="0" cellpadding="0" cellspacing="0"> 
							<tr>
								<td style="padding:5px 0 15px 0; color: #565656; font-family: Arial, sans-serif; font-size: 30px; line-height: 40px; text-align: center;">
									<b>Hi Sil! How's your guitar class?</b>
								</td>
							</tr>
							<tr>
								<td style="padding: 10px 0 20px 0; color: #565656; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;">
									Lorem ipsum dolor sit amet, feugiat lectus iaculis mauris nostra hendrerit nulla, pulvinar erat vel. Habitant phasellus eu sit lectus et. Erat viverra ullamcorper  dajlg cdfgfsv pellentesque, est sem et fusce pellentesque sapien varius, integer cursus donec Lorem ipsum dolor sit amet, feugiat lectus iaculis mauris nostra hendrerit nulla, pulvinar erat vel. Habitant phasellus eu sit lectus et. Erat viverra. 
								</td>
							</tr> 
							<tr>
								<td style="padding: 25px 0 10px 0; text-align: center;">
									<img src="img/amy.jpg" alt="Amy">
								</td>
							</tr>
							<tr>
								<td style="color: #565656; font-family: Arial, sans-serif; font-size: 20px; font-weight: 600; padding: 0px 0px 5px 0px; line-height: 26px; text-align: center;">
									Amy A.
								</td>
							</tr>
							<tr>
								<td valign="middle" style="color: #565656; font-family: Arial, sans-serif; font-size: 14px; padding: 0px 0px 20px 0px; line-height: 18px; text-align: center;">
									<img src="img/rating-given.png" alt="Rating" style="display: inline-block; vertical-align: bottom;"> (39)
								</td>
							</tr>
							<tr>
								<td style="color: #565656; font-family: Arial, sans-serif; font-size: 16px; padding: 15px 0px 10px 0px; line-height: 20px; text-align: center; border-top: 1px solid #e1e1e1;">
									<div style="width: 250px; margin: 0 auto; display: inline-block;">
									<p style="color: #565656; font-family: Arial, sans-serif; font-size: 16px; font-weight: 600; padding: 4px 0px 4px 0px; margin: 0px 0px 0px 0px; line-height: 20px; text-align: left;">Teacher: Amy A.</p>
									<p style="color: #565656; font-family: Arial, sans-serif; font-size: 16px; font-weight: 600; padding: 4px 0px 4px 0px; margin: 0px 0px 0px 0px; line-height: 20px; text-align: left;">Class Name: Guitar</p>
									<p style="color: #565656; font-family: Arial, sans-serif; font-size: 16px; font-weight: 600; padding: 4px 0px 4px 0px; margin: 0px 0px 0px 0px; line-height: 20px; text-align: left;">Class Time: September 12, 2017</p>
									<p style="color: #565656; font-family: Arial, sans-serif; font-size: 16px; font-weight: 600; padding: 4px 0px 4px 0px; margin: 0px 0px 0px 0px; line-height: 20px; text-align: left;">Duration: 30min</p>
								</td>
							</tr>
							<tr>
								<td style="color: #f15a29; font-family: Arial, sans-serif; font-size: 16px; padding: 5px 0px 5px 0px; line-height: 20px; text-align: center;">
									If you like the class, please rate the teacher now. Thank you!
								</td>
							</tr><tr>
								<td style="padding: 15px 0px 15px 0px; text-align: center;">
									<img src="img/rating.png" alt="Rating">
								</td>
							</tr> 
							<tr>
								<td style="padding: 10px 0 20px 0; text-align: center;">
									<a href="#" style="padding: 0px 60px; height: 40px; background: #f15929; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; line-height: 40px; text-decoration: none; display: inline-block; text-transform: uppercase; text-align: center; border-radius: 3px;">SUBMIT</a>
								</td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr> 
					<td style="text-align: center; color: #565656; font-family: Arial, sans-serif; font-size: 14px; padding: 30px 0 30px 0; line-height: 22px;">
						<a href="#" target="blank" style="padding: 0px 5px;"><img src="img/facebook.png" alt="Facebook"></a>
						<a href="#" target="blank" style="padding: 0px 5px;"><img src="img/twitter.png" alt="Twitter"></a>
						<a href="#" target="blank" style="padding: 0px 5px;"><img src="img/google-plus.png" alt="Google Plus"></a>
						<a href="#" target="blank" style="padding: 0px 5px;"><img src="img/instagram.png" alt="Instagram"></a> </br>
						<div style="text-align: center; color: #565656; font-family: Arial, sans-serif; font-size: 16px; padding: 15px 0px 0px 0px;">&copy; All rights reserved 2017 <a href="#" target="blank" style="color: #565656; text-decoration: none;"><b>MusicU Team</b></a></div>
					</td> 
				</tr>
			</table>
			</td>
		</tr>
	</table> 

</body>
</html>



