h1
  margin 0
  padding 0
  text-align left
.sectionhead-title
  text-align right
  margin-bottom 15px
.add-member
  float left
  margin 0 50px
.table-responsive
  border none  
  .table
    margin 0
    .thead
      th
        padding 8px 10px
        vertical-align middle
        font-size $small-font-size
        background-color $color-gray-medium
        font-weight $weight-semibold
        color $color-black
        text-align left
        &.action-th
          width 15%
    .tbody
      td
        padding 8px 10px
        vertical-align middle
        font-size $small-font-size
        text-align left
        .btn-danger
          padding 0px 8px
          background-color $color-red
        .btn-info
          padding 0px 8px
          background-color $color-cyan
          margin-right 15px
