.details    
    .details-container
        h6
            background-color $color-gray-medium
            padding 10px 10px 10px 25px
            margin-bottom 15px
            text-align left
            color $color-black
        .inner-content
            padding 20px    
            .form-group
                display block
                font-size $small-font-size
                .input-container
                    display flex
                    margin-bottom 15px
                    font-size $small-font-size
                    label
                        display block
                        text-align left
                        padding-top 7px
                    input
                        display block
                        font-size $small-font-size
                        &.form-control
                            width 100%
                .update-button
                    padding 0
                    @media $tablet-up
                        padding 0 15px
                    .update-details
                        float right
.bg-white
    background-color #fff
.table
    td,th
      text-align left
      p
        margin: 0px