h1
  margin 0
  padding 0
  text-align left
.sectionhead-title
  text-align right
  margin-bottom 15px
.add-member
  float left
  margin 0 30px
.table-responsive
  padding 0 22%
  text-align left
  margin-bottom 20px
  border none
  .table
    background-color #fff
    margin 0
    .thead
      th
        padding 8px 10px
        vertical-align middle
        font-size $base-table-header-size
        background-color #27aae1
        font-weight 600
        color #fff
        text-align left
        &.action-th
          width 15%
    .tbody
      tr:nth-of-type(odd)
        background-color rgba(0, 137, 255, 0.12)
      td
        padding 8px 10px
        vertical-align middle
        font-size $small-font-size
        text-align left
        .btn-danger
          padding 0px 8px
          background-color $color-red
        .btn-info
          padding 0px 8px
          background-color $color-cyan
          margin-right 15px
        &.action-td
          width 25%
.alert
    padding 5px 0
    color #f00
    text-align left
    margin-bottom 0px