h1
    margin 0
    padding 0
    text-align left
    margin-bottom 20px
.filtter-main
    .team-filtter
        width 50%
        float left
        .mat-form-field
            .mat-form-field-wrapper
                .mat-form-field-infix
                    margin 0
                    padding 0
                    border 0
                    .form-control
                        width 100% 
                        height 34px 
                        padding 6px 12px
                        background-color #fff 
                        border 1px solid #ccc
                        border-radius 4px 
                        -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        -o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        &:focus
                            border-color #66afe9
                            outline 0
                            -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) 
                            box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
                        &::-moz-placeholder
                            color #999
                            opacity 1
                        &:-ms-input-placeholder
                            color #999
                        &::-webkit-input-placeholder
                            color #999
                    .mat-form-field-label-wrapper
                        left 10px
                        font-size $small-font-size
                        color $color-gray-dark
                        top -8px
                        padding 0
                .mat-form-field-underline
                    display none
.add-btn
    margin 0
    @media screen and (max-width: 765px)
        margin 20px 0
.addteam-member
    width 50%
    float left
    .form-material
        width 100%
        .mat-form-field
            width 65%
            margin-right 10px
        .mat-form-field
            .mat-form-field-wrapper
                padding 0
                .mat-form-field-infix
                    margin 0
                    padding 0
                    border 0
                    .form-control
                        width 100% 
                        height 34px 
                        padding 6px 12px
                        background-color #fff 
                        border 1px solid #ccc
                        border-radius 4px 
                        -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        -o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        &:focus
                            border-color #66afe9
                            outline 0
                            -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) 
                            box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
                        &::-moz-placeholder
                            color #999
                            opacity 1
                        &:-ms-input-placeholder
                            color #999
                        &::-webkit-input-placeholder
                            color #999
                    .mat-form-field-label-wrapper
                        left 10px
                        font-size $small-font-size
                        color $color-gray-dark
                        top -8px
                        padding 0
                .ng-trigger-transitionMessages
                    position static
                    overflow visible
                    margin 32px 0
                    font-size $small-font-size
                .mat-form-field-underline
                    display none
        .mat-raised-button
            height 32px
            background-color $color-cyan
            font-size $extra-small-size
            line-height normal
            vertical-align top
.table-responsive
    padding 0 2%
    text-align left
    margin-bottom 20px
    border none
    .mat-table
        box-shadow none
        margin 0
        .mat-header-row
            height auto
            .mat-header-cell
                padding 8px 10px
                vertical-align middle
                font-size $base-header-size
                background-color $color-gray-medium
                width 40%
                font-weight $weight-semibold
                color $color-black
                &.mat-column-Id
                    width 5%
                &.mat-column-Action
                    width 15%
        .mat-row
            height auto
            .mat-cell
                padding 8px 10px
                vertical-align middle
                font-size $small-font-size
                text-align left
                .btn-danger
                    padding 0px 8px 
                    background-color $color-red
