.details-container
        h6
            background-color none
            padding 10px 10px 10px 25px
            margin-bottom 15px
            text-align left
            color $color-white
h1
  margin 0
  padding 0
  text-align left
.sectionhead-title
  text-align right
  margin-bottom 15px
.add-designation
  float left
  margin 0 30px
.add-designForm
    margin-bottom 15px
    .form-inline
        margin-left auto
        float left
        .btn-primary
            padding 6px 15px
            margin-left 10px
.table-form 
  width 50%
  text-align center
  margin 0 auto
  .table
    td
      padding 0.25rem
      vertical-align middle
      p
        margin 0px
.input-group-text
    padding 0.1rem 0.75rem