<div class="bg-white">
  <div class="row details">
    <div class="col-md-12 col-xs-12 details-container ">
      <h6>Financial Report</h6>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="inner-content">
            <div class="col-md-12 text-center">
                <h3>Integrative Systems</h3>
                <p>JUNE 30, 2018</p>
              </div>
              <div class="table-form table-striped">
                <table class="table" >
                  <thead>
                    <tr>
                    <th></th>
                    <th>
                      Actual YTD
                      as of 6/30/18
                    </th>
                    <th>
                       &nbsp; Prior YTD
                        as of 6/30/17
                        
                    </th>
                    <th>
                        Budget YTD
                        as of 12/31/18
                        
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p>
                          Revenue
                        </p>
                      </td>
                      <td>
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">$</div>
                                </div>
                            <input type="text"  class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                  </div>
                              <input type="text"  class="form-control">
                              </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                      </div>
                                  <input type="text"  class="form-control">
                                  </div>
                                </td>
                    </tr>
                    <tr>
                        <td>
                          <p>
                            Net Income
                            </p>
                          </td>
                          <td>
                              <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                      <div class="input-group-text">$</div>
                                    </div>
                                <input type="text"  class="form-control">
                                </div>
                              </td>
                              <td>
                                  <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text">$</div>
                                        </div>
                                    <input type="text"  class="form-control">
                                    </div>
                                  </td>
                                  <td>
                                      <div class="input-group mb-2">
                                          <div class="input-group-prepend">
                                              <div class="input-group-text">$</div>
                                            </div>
                                        <input type="text"  class="form-control">
                                        </div>
                                      </td>
                      </tr>
                      <tr>
                          <td>
                            <p>
                                # of Employees (average)
                              </p>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                        </td>
                        </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 text-center">
                  <h3>Integrative Systems</h3>
                  <p>FY18 Budget</p>
                </div>
                <div class="table-form table-striped">
                    <table class="table" >
                      <thead>
                        <tr>
                        <th></th>
                        <th>
                            2018 Budget
                            as of 6/30/18
                        </th>
                        <th>
                            Actual YTD
                            as of 6/30/18
                            
                        </th>
                      
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p>
                              Revenue
                            </p>
                          </td>
                          <td>
                              <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">$</div>
                                </div>
                            <input type="text"  class="form-control">
                            </div>
                          </td>
                            <td>
                                    <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                      </div>
                                  <input type="text"  class="form-control">
                                  </div>
                                </td>
 
                        </tr>
                        <tr>
                            <td>
                              <p>
                                Net Income
                                </p>
                              </td>
                                  <td>
                                      <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text">$</div>
                                        </div>
                                    <input type="text"  class="form-control">
                                    </div>
                                  </td>
                                
                                      <td>
                                          <div class="input-group mb-2">
                                          <div class="input-group-prepend">
                                              <div class="input-group-text">$</div>
                                            </div>
                                        <input type="text"  class="form-control">
                                        </div>
                                      </td>
                                      
                         
                          </tr>
                          <tr>
                              <td>
                                <p>
                                    # of Employees (average)
                                  </p>
                                </td>
                                <td>
                                    <input type="text"  class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                        </td>
                                    
                            </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12  text-center">
                      <h3>Integrative Systems</h3>
                      <p>Budget Report</p>
                    </div>
                    <div class="table-form table-striped">
                        <table class="table" >
                          <thead>
                            <tr>
                            <th></th>
                            <th>
                               <p>
                                  As of 6/30/18
                               </p>
                            </th>
                            <th>
                                <p>
                                    As of 6/30/17
                                 </p> 
                                
                            </th>
                          
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <p>
                                    Quick Ratio: (Cash + Receivables) / Current Liabilities
                                </p>
                              </td>
                              <td>
                                <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                    </td>
                                   
                            </tr>
                            <tr>
                                <td>
                                  <p>
                                      Revenue per Employee: Annualized Revenue / # of Employees
                                    </p>
                                  </td>
                                  <td>
                                      <input type="text" class="form-control">
                                      </td>
                                      <td>
                                          <input type="text" class="form-control">
                                          </td>
                             
                              </tr>
                              <tr>
                                  <td>
                                    <p>
                                        Net Income per Employee: Annualized Net Income / # of Employees
                                      </p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                            </td>
                                        
                                </tr>
                                <tr>
                                    <td>
                                      <p>
                                          A/R Days to collect: 365 divided by (12 Months Revenue / 12 Months Avg Receivables)
                                        </p>
                                      </td>
                                      <td>
                                          <input type="text" class="form-control">
                                          </td>
                                          <td>
                                              <input type="text" class="form-control">
                                              </td>
                                          
                                  </tr>
                                  <tr>
                                      <td>
                                        <p>
                                            Bank Debt to Assets: (Term Loans + outstanding line of credit) / Total Assets
                                          </p>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                                </td>
                                            
                                    </tr>
                                    <tr>
                                        <td>
                                          <p>
                                              Bank Debt to Equity:(Term loans + outstanding line of credit / Total Equity
                                            </p>
                                          </td>
                                          <td>
                                              <input type="text" class="form-control">
                                              </td>
                                              <td>
                                                  <input type="text" class="form-control">
                                                  </td>
                                              
                                      </tr>
                          </tbody>
                        </table>
                      </div>
          </div>
    </div>
  </div>
</div>


