.example-container
  text-align left
  width 400px
  max-width 100%
  margin 0 25px 25px 0
  display inline-block
  vertical-align top
  background-color #f9f9f9
  padding 0
  overflow hidden
  .cdk-drop-list
    min-height calc(100% - 70px)
    max-height 600px
    overflow-y auto
  .delete-icon
    width 30px
    height 30px
    text-align center
    padding-top 0px
    margin-top 0px
    background-color none
    border-radius 50%
    float right
    i
      color black
.example-list 
    border solid 1px #ccc
    min-height 60px
    background white
    border-radius 4px
    overflow hidden
    display block
    margin 20px
.example-box
    padding 10px 10px
    color rgba(0, 0, 0, 0.87)
    display block
    flex-direction row
    align-items center
    justify-content space-between
    box-sizing border-box
    cursor pointer
    background white
    font-size 14px
    border 1px solid #cccccc
    margin 10px;
  .hidedays
    display none
  .task_info
    display -webkit-box
    vendor-prefix(box-orient, vertical)
    max-width 400px
    margin 5px auto
    line-height 1.4
    vendor-prefix(line-clamp, 2)
    
    
    overflow hidden
    text-overflow ellipsis

  .backdrop 
  background-color rgba(0,0,0,0.6)
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  z-index 998
.modal
  z-index 999
  position absolute
  overflow visible
.mat-form-field
  width: 100%
.mat-tab-body.
  .mat-tab-body-active
    overflow-x hidden
    overflow-y hidden
  .scrollable-menu
    overflow-y scroll
.mat-ink-bar
    width 150px !important
.comment
  margin-top 20px
  .account-photo
    width 80px
    height 80px
    background#17a2b8
    text-align center
    border-radius 50%
    line-height 80px
    color #ffffff
    font-weight bold
.error
  font-size  75%
  margin-top -15px
.task_overdue
  border-bottom 2px solid red
.task_done
  border-bottom 2px solid lighten(green,50% )
.add-task
  margin 20px 0
.mat-tab-label-active
  opacity 1 !important
.mat-tab-body-content
  overflow-x hidden !important
  overflow-y scroll
  .scrollable-menu[_ngcontent-c20]
    overflow-y hidden
.overhidd
  margin-top 20px
.mat-raised-button.mat-primary
  background-color black
  color white
.workflow-headings
  background-color $color-dark-grey
  color $color-black
  font-weight bold
  padding 15px
  &.col0
    background-color $color-warm-three
  &.col1
    background-color $color-warm-two
  &.col2
    background-color $color-warm-one
.task-content
  margin-bottom 20px
  padding 20px
  background-color #e8e8e8
  .over-element
    padding 20px
    span
      .redbar
        content ''
        width 40px
        height 20px
        margin-left 5px
        background-color $color-red
        position absolute
      .greenbar
        content ''
        width 40px
        height 20px
        margin-left 5px
        background-color $color-green
        position absolute
.modal-content
  .modal-header
    background-color $color-maroon-primary
    h4
      color $color-white
    .close
      color $color-white
      opacity 1
