// Stylus typography functions and type conversion
@import '../node_modules/stylus-type-utils';

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import 'assets/shared/var.styl';
@import 'assets/shared/mixins.styl';
@import 'assets/shared/base.styl';
@import 'assets/shared/common.styl';


//page content
@import 'app/components/**/**/*.styl'
