
.toolbar-user-container
    margin -3px -15px 0 0
    position relative
    .mat-list-item
        &:hover
            background-color #3d1111
    .toolbar-user-btn
        margin 0 0 0 0
        padding 0 15px
        line-height 64px
        color $color-white
        font-size $small-font-size
        background-color $color-maroon-dark
        height 60px
        vendor-prefix(border-radius, 0)
        cursor pointer
        label
            display inline-block
            cursor pointer
        img
            display none
        .fa-user-circle
            display inline-block
            margin-right 10px
        &:hover
            color $color-white
            text-decoration none
            background-color #3d1111
        .fa-chevron-down
            margin-left 10px
            display inline-block
            transition all .5s  ease-in-out
        &.open
            .fa-chevron-down
                transform rotate(-180deg)
    .dropdown
        background-color $color-maroon-dark
        position absolute
        width 100%
        top 104%
        right 0
        left auto
        display none
        vendor-prefix(border-radius, 0 0 5px 5px)
        vendor-prefix(transition, display 0.3s ease-in)
        z-index $below-content
        .content
            .mat-nav-list
                padding 0
                .mat-list-item
                    border-top 1px solid $color-white
                    &:first-child
                        border-top 1px solid white;
                    .mat-list-item-content
                        padding 0
                        .mat-list-text
                            .mat-line
                                color $color-white
                                padding 10px 20px
                                font-size $small-font-size
                                .fa
                                    margin-right 10px
                                    display inline-block
                                    font-size $header-extra-small
        &.open
            display block
            
      