<section class="login-block" style="background-image:url('../assets/login-bg1.jpg');
height: 100vh;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
           
  
                      <form [formGroup]="signinForm" method="post" action="" (ngSubmit)="login(signinForm.value)"  class="md-float-material form-material">
                           <div class= "auth-box card">
                              <div class="text-center">
                                  <h1 class="text-center">CEO Goals</h1>
                                  </div>
                            
                             <div class="card-block">
                                <div class="row m-b-20">
                                        <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Sign In</h3>
                                        </div>
                                        </div>
                                        <p class="text-muted text-center p-b-5">Sign in with your regular account</p>
                          <div class="row">
                              <div class="col-md-12">
                                    <mat-form-field>
                                            <input matInput placeholder="Username" name="username" id="username"  formControlName="username">
                                            <mat-error *ngIf="!signinForm.controls['username'].valid && signinForm.controls['username'].touched">{{ titleAlert }}</mat-error>
                                    </mat-form-field>
                                  
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">

                                    <mat-form-field>
                                            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
                                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-error *ngIf="!signinForm.controls['password'].valid && signinForm.controls['password'].touched">{{ titleAlert }}</mat-error>
                                          </mat-form-field>
                                 
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 m-b-20">
                          <button type="submit"  mat-raised-button mat-primary color="primary" class=" btn-md btn-block" name="submit_signin" [disabled]="!signinForm.valid">LOGIN</button>
                          </div>
                          </div>
                          <p class="text-inverse text-left">Don't have an account? <a href="mailto:admin@integrative-systems.com"> <b>Contact Admin </b></a>for details</p>
                          <div class="row">
                                <div class="col-md-12 m-b-20">
                          <div class="alert alert-danger" *ngIf="error" id="error">{{error_message}}</div>
                          </div>
                          </div>
                        </div>
                        
                           </div> 
                      </form>
  
                      
    
      </div>
   </div>
</div>
  
        <ng-template #forminfo>
            <div class="form-container">
              <div class="row columns">
                  <p>{{index_signin }}</p>
                  <p>{{ password_signin }}</p>
              </div>
            </div>
          </ng-template>