.form-material
    .form-control
        width 100% 
        height 34px 
        padding 6px 12px
        background-color #fff 
        border 1px solid #ccc
        border-radius 4px
        font-size 14px
        -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
        -o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
        transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
        &:focus
            border-color #66afe9
            outline 0
            -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) 
            box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
        &::-moz-placeholder
            color #999
            opacity 1
        &:-ms-input-placeholder
            color #999
        &::-webkit-input-placeholder
            color #999
        input
            font-size 14px
.mat-form-field
    width: 25%  

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.btn
    border-radius 0px
    input[type=radio]
        position absolute
        z-index -1
        opacity 0

      
.btn-warning
    color #fff !important
    
.details
    .mat-form-field-infix
        width 10px  
label
    font-size 14px
    display block
    text-align left
.alert
    padding 5px 0
    color red
    font-size 14px
    margin-top 0
.btn-primary:disabled
    color #fff
    background-color #676767
.table-striped
    .table
        th,td
          padding: 0.15rem
          text-align center
          vertical-align: middle;