// ----------------------------
// BASE - elements that don't have classes or IDs
// ----------------------------
img
	height auto
	max-width 100%
	overflow hidden
	@media $tablet-down
		height auto

html
	margin 0
	padding 0
	font-size 18px
	height inherit
	min-height 100%
	// momentum scrolling for iOS
	overflow-y auto /* has to be scroll, not auto */
	-webkit-overflow-scrolling touch

	// proper font weight and smoothing rendering
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	// ie scroll bar overlay
	-ms-overflow-style scrollbar

	@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
	only screen and ( min-device-pixel-ratio: 1.25),
	only screen and ( min-resolution: 200dpi),
	only screen and ( min-resolution: 1.25dppx)
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale

body
	margin 0
	padding 0
	font-size 16px
	line-height 20px
	font-family $font-primary
	color $color-black
	font-style normal
	height 100%
	width 100%
	// background url(https://www.transparenttextures.com/patterns/asfalt-dark.png) repeat 0 0
    // background-size cover

p
	font-size $small-font-size
	line-height 20px

a
	text-decoration underline
	font-size $small-font-size
	line-height 20px

ul
ol
	color $color-black
	padding 0
	margin 0

iframe
	display block // remove whitespace under iframe

select
	
	border 1px solid $gray-border

	&::-ms-expand
		display none
label
	text-align left

h1
	color $color-dark-blue
	margin-bottom 20px
	font-size sizeVW($primary-header-size)
	line-height sizeVW($primary-header-size)
	font-weight bold
	font-family $font-primary
	@media $tablet-up
		font-size $primary-header-size
		line-height $primary-header-size

h2
	color $color-dark-blue
	font-size sizeVW($tertiary-header-size)
	line-height sizeVW($tertiary-header-size)
	@media $tablet-up
		font-size $secondry-header-size
		line-height $secondry-header-size

h3
	color $color-dark-blue
	font-size sizeVW($tertiary-header-size)
	line-height sizeVW($tertiary-header-size)
	@media $tablet-up
		font-size $tertiary-header-size
		line-height $tertiary-header-size

h4
	color $color-orange
	font-size sizeVW($tertiary-header-size)
	margin-top 0px
	margin-bottom 13px
	line-height sizeVW($tertiary-header-size)
	@media $tablet-up
		margin-bottom 0px
		font-size $tertiary-header-size
		line-height $tertiary-header-size

h5
	color $color-gray-charcoal
	margin-top 0px
	margin-bottom 0px
	font-weight $weight-bold
	font-size sizeVW($base-header-size)
	line-height sizeVW($base-header-size)
	@media $tablet-up
		font-size $base-header-size
		line-height $base-header-size
h6
	font-size $base-font-size
	line-height $base-font-size
	color $color-gray-dark
	@media $tablet-up
		font-size $base-font-size
		line-height $base-font-size

sup
	top -.5em

hr
	border 0

input
	outline none
	//appearance none
	border 1px solid $gray-border
	border-radius 0px

input 
	&[type="radio"]
		appearance radio

legend
	font-size 18px

/*-------------------------------------
TEMPORARY FIX -  for components sitting on the bottom of the page on mobile.
-------------------------------------*/
a:not([href]):not([tabindex])
	color $color-black
	cursor pointer

[v-cloak]
	display none

