// LAYOUT ----------------------
$base-size = 16 // base size for font and element sizes
$rem = 1/$base-size // FOR MIXIN USE ONLY, convert px to rem (E.g. 12*$rem rem)
$px = $base-size // FOR MIXIN USE ONLY, convert rem to px (E.g. 12*$px rem)

base-font-size = ($base-size/16)*100% // variable for stylus-type-utils
support-for-ie = true // Set to 'false' for no 'px' output with 'rem'

// RESPONSIVE ----------------------
// use EM for now because iOS 6.1 doesn't support REMs
$phone-small-width = 575/$base-size em
$phone-width = 767/$base-size em
$tablet-width = 768/$base-size em
$desktop-width = 992/$base-size em
$desktop-large-width = 1200/$base-size em
$desktop-xl-width = 1440/$base-size em
$desktop-hd-width = 1600/$base-size em

$desktop-xl-navigation = 1860/$base-size em

$mobile-viewport = 320

// TYPOGRAPHY ----------------------
fontFamilyBody()
	font-family $font-primary

$font-size-base = ($base-size/16)*100%

$font-primary = proxima-nova, sans-serif;

//TYPOGRAPHY Font weight
$weight-regular = 400
$weight-medium = 500
$weight-semibold = 600
$weight-bold = 700
$weight-extra-bold = 800
$font-italic = italic

//TYPOGRAPHY Font size
$extra-small-size = 12px
$small-font-size = 14px
$base-font-size = 16px
$base-table-header-size = 17px
$base-header-size = 18px
$tertiary-header-size = 20px
$secondry-header-size = 22px
$primary-header-size = 24px

// z-index. TODO We are not currently using these. Need to look into this more to see how we can utilize this more
$below-content = 1
$content = 2
$above-content = 3
$header-content = 4

// Colors
$color-white = #FFFFFF
$color-black = #1b1919
$color-very-dark-blue = #1d3b4a
$color-dark-blue = #006699
$color-blue-secondary = #065780
$color-dark-grey = #e0e0e0
$color-maroon-primary = #8b0000
$color-maroon-dark = #6b0000
$color-footer-grey = #333333
$color-footer-text = #eeeeee

$color-slate-blue = #7e56c5
$color-dark-cyan = #179943
$color-cyan = #27aae1

$color-gray-charcoal = #333333
$color-gray-dark = #878787
$color-gray-medium = #CCCCCC
$color-gray-light = #F5F5F5
$color-gray-light-smoke = #F3F3F3
$color-gray-border = #e2e2e2
$color-grey-border= #818181
$color-grey-extra-light= #989898
$gray-border = #e5e5e5
$gray-border-light = #e7e7e7
$gray-dark-border = #d1d1d1
$color-platinum-gray = #E4E4E4
$color-taupe-gray = #87878a
$color-warm-one = #8bc34a
$color-warm-two = #ffca7b
$color-warm-three = #ff7251
$color-table-background = #97d4e8


$color-green = #008000
$color-strong-green = #006400

$color-red = #FF0000
$color-error-red = #D0021B
$color-soft-red = #ec6952
$color-bright-red = #d9232e

$color-magenta = #971362
$color-maroon= #b51976
$color-gold = #b3af08
$color-orange = #FF8C00
$color-teal = #00aeb0
$color-vivid-pink = #e11283

$full-width = 100%

//Gradient 
$gradient-primary = linear-gradient(150deg, $color-gray-dark, $color-gray-light)
$gradient-secondary = linear-gradient(270deg, $color-gray-light, $color-gray-dark)

