.details-container
    h6
        background-color $color-gray-medium
        padding 10px 10px 10px 25px
        margin-bottom 15px
        text-align left
        color $color-black
    .project_info
        text-align right
        .mat-form-field
            .mat-form-field-wrapper
                padding-bottom 2em
                .mat-form-field-infix
                    margin 0
                    padding 0
                    border 0
                    .form-control
                        width 100% 
                        height 34px 
                        padding 6px 12px
                        background-color #fff 
                        border 1px solid #ccc
                        border-radius 4px 
                        -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        -o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
                        &:focus
                            border-color #66afe9
                            outline 0
                            -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) 
                            box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
                        &::-moz-placeholder
                            color #999
                            opacity 1
                        &:-ms-input-placeholder
                            color #999
                        &::-webkit-input-placeholder
                            color #999
                    .mat-form-field-label-wrapper
                        left 10px
                        font-size $small-font-size
                        color $color-gray-dark
                        top -8px
                        padding 0
                .mat-form-field-underline
                    display none
                .mat-form-field-infix
                    .mat-form-field-label-wrapper
                        overflow visible
                        left 0
                        top -24px
                        .mat-form-field-label
                            font-size 14px
                            display block
                            text-align left
                            color $color-black
                            position static
                            transform inherit
        .btn-danger
            margin-right 15px

