<div class="bg-white">
  <div class="row details">
    <div class="col-md-12 col-xs-12 details-container ">
      <h6>Reset Password</h6>
    </div>
  </div>
  <div class="inner-content">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-5">
        <form [formGroup]="resetpassForm" method="POST" action="" (ngSubmit)="reset_pass(resetpassForm.value)">
            <div class="form-group">
                <input tabindex="1"  type="password" class="form-control " id="old_pass" placeholder="Old Password*" name="old_pass" formControlName="oldpassword" appAutofocus>
                <div class="alert" *ngIf="!resetpassForm.controls['oldpassword'].valid && resetpassForm.controls['oldpassword'].touched">{{
                    titleAlert }}</div>
              </div>
              <div class="form-group">
                  <input tabindex="2" type="password" class="form-control " id="new_pass" placeholder="New Password*" name="new_pass" formControlName="newpassword">
                  <div class="alert"*ngIf="!resetpassForm.controls['newpassword'].valid && resetpassForm.controls['newpassword'].touched">{{
                      titleAlert }}</div>
                </div>
                <div class="form-group">
                    <input tabindex="3" type="password" class="form-control " id="conf_pass" placeholder="Confirm Password*" name="conf_pass" formControlName="confirmpassword">
                    <div class="alert" *ngIf="!resetpassForm.controls['confirmpassword'].valid && resetpassForm.controls['confirmpassword'].touched">{{
                        titleAlert }}</div>
                        <div class="alert" *ngIf="resetpassForm.errors" >{{ resetpassForm.errors?.dates | json }}</div>
                  </div>
                  <div class="form-group">
                      <button tabindex="4" class="btn btn-primary float-right" type="submit" [disabled]="!resetpassForm.valid">Change Password</button>
                  </div>
        </form>
      </div>
    </div>
  </div>
</div>
