h1
  margin 0
  padding 0
  text-align left
.sectionhead-title
  text-align right
  margin-bottom 15px
.add-client
  float left
  margin 0 30px
.add-clientForm
    margin-bottom 15px
    .form-inline
        margin-left auto
        float right
        display contents
        .btn-primary
          padding 6px 15px
          margin 20px 150px 0 0
.table-responsive 
  padding 0 30%
  text-align left
  margin-bottom 20px
  border none
.upload-file
  border 1px solid #ccc
  padding 10px
  width 100%
  cursor pointer
.client-name-input
  width 100%
  cursor pointer
.wd100
  width 100px
.img-preview
  width 100px
  height 100px
