<div class="bg-white">
  <div class="row details">
    <div class="col-md-12 col-xs-12 details-container">
      <h6>Monthly Meeting Check-In</h6>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead">
            <tr>
              <th></th>
              <th>
                Personal
               <span>(1-10)</span> 
              </th>
              <th>
                  Business
                 <span>(1-10)</span> 
                </th>
                <th>
                    Health
                   <span>(1-10)</span> 
                  </th>
                  <th>
                      Issue or
                      Opportunity
                      
                    </th>
                    <th>
                        Rate the 1 st Quarter of

                        2019 
                      </th>
                   
            </tr>
          </thead>
          <tbody class="tbody">
            <tr >
             <td>Adam</td>
             <td><input type="text" class="form-control"></td>
             <td><input type="text" class="form-control"></td>
             <td><input type="text" class="form-control"></td>
             <td><input type="text" class="form-control"></td>
             <td><input type="text" class="form-control"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

